.header_img {
  width: 600px;
  height: auto;
  z-index: 2;
}

.circulation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 0px;
}

.circulation_header {
  width: 100%;
  /* margin: 5px; */
}

.circultion_info {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
  font-size: small;
}

.circulation_div {
  width: 600px;
  height: auto;
  position: relative;
  background-color: darkgrey;
}

p {
  margin: 5px;
}

.circulation_img {
  border-radius: 100px; /* Радиус скругления */
  /* border: 3px solid green; Параметры рамки */
  /* box-shadow: 0 0 7px #666; Параметры тени */
  width: 100px;
  height: 100px;
  /* margin: 50px 50px; */
  position:absolute;

}

/* html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
} */

.block {
  width: 150px;
  height: 50px;
  transform-origin: 100% 26px;
  transform: rotate(0deg);
  position: absolute;

}

@keyframes moving {
  100% {transform: rotate(360deg);}
}
@keyframes movingImg {
  /* 100% {transform: rotate(-360deg)scale(1);} */
}

.container_users {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sub_container_users {
  width: 304px;
  height: 304px;
  display: flex;
  align-items: center;
  animation: moving 7s /*infinite*/ /*linear*/;
}


.block:nth-child(1) {
  transform: rotate(45deg);
}
.block:nth-child(1) > div > img {
  transform: rotate(-45deg);
  animation: movingImg 7s /*infinite linear*/;
}

.block:nth-child(2) {
  transform: rotate(90deg);
}
.block:nth-child(2) > div > img {
  transform: rotate(-90deg);
  animation: movingImg 7s ;
}
.block:nth-child(3) {
  transform: rotate(135deg);
}
.block:nth-child(3) > div > img {
  transform: rotate(-135deg);
  animation: movingImg 7s ;
}
.block:nth-child(4) {
  transform: rotate(180deg);
}
.block:nth-child(4) > div > img {
  transform: rotate(180deg);
  animation: movingImg 7s ;
}
.block:nth-child(5) {
  transform: rotate(225deg);
}
.block:nth-child(5) > div > img {
  transform: rotate(-225deg);
  animation: movingImg 7s ;
  
}
.block:nth-child(6) {
  transform: rotate(270deg);
}
.block:nth-child(6) > div > img {
  transform: rotate(-270deg);
  animation: movingImg 7s ;
}
.block:nth-child(7) {
  transform: rotate(315deg);
}
.block:nth-child(7) > div > img {
  transform: rotate(-315deg);
  animation: movingImg 7s ;
}
.block:nth-child(8) {
  transform: rotate(360deg);
}
.block:nth-child(8) > div > img {
  transform: rotate(0deg);
  animation: movingImg 7s ;
}


.square {
  background: yellow;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.enter_button {
  margin: 4rem
}
